<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!--Bootstrap deve ser carregado 1º que o seu css-->
    <link rel="stylesheet" href="/css/style.css"> <!--Express já reconhece a pasta públic-->
</head>