<nav class="navbar navbar-light bg-dark"> <!--Barra no topo da tela-->
    <a class="navbar-brand" href="/"> <!--Leva para outra página (index)-->
    <img src="/img/node2rend.png" alt="Icone nodejs"> <!--Transforma o icone node em um botão clicavel-->
    </a>
</nav>